@import "./helpers/variables";
@import "./helpers/mixins";
@import "./config";
@import "./components/navigation";
@import "./components/footer";
@import "./components/contactList";
@import "./components/projectsGallery";
@import "./components/media";
@import "./components/backtotop";

.projects-gallery {
  position: relative;
  display: flex;
  flex-wrap: wrap;

  top: 18vh;
  min-height: 100vh;
  margin-bottom: 20vh;

  &__title-container {
    flex-basis: 100%;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 10vh;
  }

  &__title {
    max-height: 500px;
    font-weight: 200;
    font-size: 2rem;
    overflow: hidden;

    @include mq("medium") {
      font-size: 2rem;
    }

    @include mq("small") {
      font-size: 1.5rem;
    }
  }

  &__link {
    color: white;
    transition: 300ms;
    font-size: 2rem;

    @include mq("small") {
      font-size: 1.25rem;
    }

    &:hover {
      color: $yellow-color;
    }
  }

  &__section {
    flex-basis: 100%;
    margin-bottom: 10vh;
  }
}
