@import "./variables";

@mixin mq($breakpoint) {
  $size: map-get($breakpoints, $breakpoint);
  @if ($size) {
    @media screen and #{$size} {
      @content;
    }
  }
}

%fullscreen-container {
  margin: 0 auto;
  width: 100vw;
  max-width: 1920px;
  position: relative;
}

@mixin hover-underline($color) {
  content: "";
  position: absolute;
  left: 0;
  right: 0;

  height: 2px;

  background-color: $color;

  transform: scaleX(0);
  transition: 500ms;
}
