@import "../helpers/mixins";
@import "../helpers/variables";
@import "../helpers/animations";

.back-to-top {
  position: fixed;
  bottom: 2vmin;
  right: 2vmin;
  transition: 300ms;
  opacity: 0;
  visibility: hidden;

  &:hover {
    animation: moveUp 500ms 0s 1 forwards;
  }

  @include mq("small") {
    display: none;
  }
  &__link {
    font-size: 4rem;
    color: $yellow-color;
  }
}
