@import "../helpers/mixins";

.logo-container {
  flex-basis: 7%;
  align-self: center;

  @include mq("small") {
    flex-basis: 15%;
  }

  &__logo {
    width: 100%;

    @include mq("xsmall") {
    }
  }
}

.logo-container--big {
  flex-basis: 40%;
  @include mq("small") {
    flex-basis: 50%;
  }
}
