@import "../helpers/variables";
@import "../helpers/mixins";

.media-container {
  width: 50vw;
  margin: 0 auto;
  text-align: center;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  display: none;

  @include mq("small") {
    width: 100vw;
    display: block;
  }

  &--dark {
    color: white;
  }

  &__desc {
    flex-basis: 100%;
    font-size: 1rem;
    margin: 3vmin 0;
  }

  &__title {
    font-weight: 700;
    margin-bottom: 3vmin;
    font-size: 1.25rem;
  }

  &__box {
    flex-basis: 51%;
  }

  &__link {
    border-radius: 5px;

    font-size: 1.5rem;
    color: rgb(38, 38, 156);

    padding: 0 7px;
    transition: 300ms;

    &:hover {
      color: $yellow-color;
    }

    &--dark {
      color: white;
    }
  }
}
