@import "../helpers/variables";
@import "../helpers/mixins";
@import "./logo";

.navigation {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  height: 12vh;
  max-height: 300px;
  width: 100vw;

  display: flex;
  justify-content: space-around;

  background: linear-gradient(180deg, $main-color 90%, rgba(91, 95, 97, 0) 96%);

  &__list {
    flex-basis: 80%;

    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__item {
    position: relative;

    display: block;
    flex-basis: 20%;
    flex-grow: 0;
    text-align: center;
    font-size: 2rem;
    transition: 300ms;
    line-height: 12vh;

    @include mq("small") {
      font-size: 1.15rem;
    }

    @include mq("xsmall") {
      font-size: 1rem;
    }

    &::before {
      @extend %hover-underline;
      bottom: 20%;
    }

    &:hover::before {
      transform: scaleX(1);
    }
  }
}
