@import "../helpers/mixins";

.gallery {
  width: 80vw;
  max-width: 1200px;
  position: relative;
  margin: 5vmin auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  &__thumbnail {
    flex-basis: 49%;
    height: 40vh;
    margin-bottom: 2%;

    background-size: cover;
    background-repeat: no-repeat;

    cursor: pointer;
  }
}
